apps/sidecar-fe/tests/fixtures/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/calc"
    targetNamespace="http://example.com/calc">

  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/calc"
                xmlns:tns="http://example.com/calc">
      <xsd:element name="AddRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:int"/>
            <xsd:element name="b" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubtractRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:int"/>
            <xsd:element name="b" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubtractResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="AddIn">
    <wsdl:part name="parameters" element="tns:AddRequest"/>
  </wsdl:message>
  <wsdl:message name="AddOut">
    <wsdl:part name="parameters" element="tns:AddResponse"/>
  </wsdl:message>
  <wsdl:message name="SubtractIn">
    <wsdl:part name="parameters" element="tns:SubtractRequest"/>
  </wsdl:message>
  <wsdl:message name="SubtractOut">
    <wsdl:part name="parameters" element="tns:SubtractResponse"/>
  </wsdl:message>

  <wsdl:portType name="CalcPortType">
    <wsdl:operation name="Add">
      <wsdl:documentation>Adds two integers and returns their sum.</wsdl:documentation>
      <wsdl:input message="tns:AddIn"/>
      <wsdl:output message="tns:AddOut"/>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input message="tns:SubtractIn"/>
      <wsdl:output message="tns:SubtractOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="CalcSoapBinding" type="tns:CalcPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://example.com/calc/Add"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <soap:operation soapAction="http://example.com/calc/Subtract"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="CalcService">
    <wsdl:port name="CalcPort" binding="tns:CalcSoapBinding">
      <soap:address location="http://example.com/calc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
